<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>CFBundleDevelopmentRegion</key>
    <string>en</string>
    <key>CFBundleDisplayName</key>
    <string>Wink Focus Filters</string>
    <key>CFBundleExecutable</key>
    <string>WinkFocusIntentsExtension</string>
    <key>CFBundleIdentifier</key>
    <string>com.wink.app.focus-intents</string>
    <key>CFBundleInfoDictionaryVersion</key>
    <string>6.0</string>
    <key>CFBundleName</key>
    <string>WinkFocusIntentsExtension</string>
    <key>CFBundlePackageType</key>
    <string>XPC!</string>
    <key>CFBundleShortVersionString</key>
    <string>0.7.3</string>
    <key>CFBundleVersion</key>
    <string>13</string>
    <key>EXAppExtensionAttributes</key>
    <dict>
        <key>EXExtensionPointIdentifier</key>
        <string>com.apple.appintents-extension</string>
    </dict>
    <key>LSMinimumSystemVersion</key>
    <string>15.0</string>
</dict>
</plist>
